.feynman__link {
  color: #2f80ed;
  font-size: 36px;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  opacity: 1;
  transition: opacity .5s ease;
}

.feynman__link:hover {
  opacity: 0.6;
}
